<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEINGARTIFEX</title>
	<script
	  src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/explore.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f39881781b2dd0012226b3d&product=inline-share-buttons" async="async"></script>
	<link rel="icon" href="/images/logo.png" type="image/png">
</head>
<body>
    <div id="navbarBase">
        <div id="navbarContainer">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class=" w-100 order-1 order-md-0 ">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home"> <img src="/images/logo.png"></a>
                        </li>
                        <a href="/home">
                            <li class="homeText nav-item ">
                                BEINGARTIFEX
                            </li>
                        </a>
                        <div class="navbar-nav ml-auto">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                              </button>

                        </div>

                    </ul>
                </div>

                <div class="dual-collapse2 collapse navbar-collapse w-100 order-3 ">
                    <ul class="list1 navbar-nav ml-auto">
                  <li class="rightNav nav-item">
                      <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                  <li class="rightNav nav-item">
                      <a class="nav-link" href="/explore">Explore</a>
                  </li>
                  <li class="rightNav nav-item">
                    <a class="nav-link" href="#">
                      <div class="dropdown">
                  <button class="dropbtn">Support Us</button>
                  <div class="dropdown-content">
                    <a href="https://rzp.io/l/Kd8iCaY" class="link">Donate</a>
                    <div class="sharethis-inline-share-buttons"></div>
                  </div>
                </div>

                    </a>


                  </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <iframe width="600" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen  src="http://a5.cric7.site/" scrolling="no"></iframe>

    <div class="footer">
        <h1 >HELP US GROW</h1><br>
        <p>So, are you taking advantage of BeingArtifex yet? 
Our courses, insights, and consulting can help you come out of your tech dilemmas!

Know a friend who might want to take part in this with you? You can do this via email and social media
      </p>
  <div class="top">
          <div class="sharethis-inline-share-buttons"><input class="butndonate" type="submit" value="share"  name="submit"></div><br>
         <a href="https://rzp.io/l/Kd8iCaY" class="link"><input class="butndonate" type="submit" value="DONATE"  name="submit"></a>
 </div>
</div>
<div class="footer">
    <h1 >WANNA ADVERTISE ON THIS PAGE ?</h1><br>
    <p> Want to promote Your product, website and other imp. stuff during this ipl?
        If interested please contact us using the service provide below. 

  </p>

</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5f384acf4c7806354da6ad50/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script--></body>
    <script type="text/javascript" src="/js/basicPage.js"></script>

</html>